fastapi==0.103.2
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
psycopg[binary]==3.2.13
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic[email]==2.4.2
python-dotenv==1.0.0
requests==2.32.3
alembic==1.13.0
